@use './palette.scss' as palette;
@use './mixins' as mixins;
@use './scaffold/constants.scss' as constants;
@use './scaffold/defaults' as default;
@forward "./scaffold/defaults" show clickable-button, input, textarea, textarea-hover, textarea-focus, clickable-text, clickable-text-active;

@mixin base-text() {
    color: palette.base-color(e, 0);
    @include mixins.theme-transition(color);

    font-family: "Inter", Tahoma, sans-serif;
    font-size: 18px;

    @media only screen and (max-width: constants.$transition-large) {
        font-size: 15px;
    }

    @media only screen and (max-width: constants.$transition-medium) {
        font-size: 12px;
    }
}

@mixin base-text-selected() {
    background: var(--select-background);
    color: var(--select-color);
}

@mixin heading-text() {
    display: block;
    font-weight: bold;
}

// Button Style
@mixin clickable-button-neutral() {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid palette.base-color(3);
    border-radius: 7px;
    color: palette.base-color(e);
    background: palette.base-color(0);
    @include mixins.theme-transition(background, color, border);
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: background 0.2s ease-in, border-color 0.15s ease-in;

    i,
    &::before,
    &::after {
        font-size: 1.5rem;
    }

    i:first-child,
    &::before {
        margin-right: 0.5rem;
    }

    i:last-child,
    &::after {
        margin-right: 0.5rem;
    }
}

@mixin clickable-button-hover() {
    outline: none;
    animation-name: aberration-box-anim;
    background: palette.base-color(a, f, 3);
}

@mixin clickable-button-focus() {
    outline: none;
    animation-name: aberration-box-anim;
    background: palette.base-color(0, 3, c);
}

@mixin clickable-button-active() {
    border-color: palette.base-color(a, f);
}

// Links Style
@mixin clickable-text-neutral() {
    color: palette.base-color(e);
    display: inline-block;
    cursor: pointer;
    @include mixins.theme-only-transition(background, color);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@mixin clickable-text-hover() {
    animation-name: aberration-box-anim;
    background: palette.base-color(f);
    color: palette.base-color(0, 9);
}

@mixin clickable-text-focus() {
    @include default.clickable-text-hover();
}

// inputs style
@mixin input-textarea-common() {
    color: palette.base-color(0);
    display: block;
    width: 100%;
    line-height: 1.25rem;
    font-size: 1rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background: transparent;
    background-color: transparent;
    box-sizing: border-box;
    //box-shadow: 0 0 0 1000px palette.base-color(0) inset;
    //transition: background-color 99999s ease-in-out;

    &[autocomplete=off] {
        box-shadow: 0 0 0 0 palette.base-color(0) inset;
    }

    ::placeholder {
        color: palette.base-color(6);
    }
}

@mixin input-neutral() {
    height: 2rem;
    border-style: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    box-sizing: border-box;

    outline-width: 1px;
    outline-color: palette.base-color(c, 3);
    outline-style: solid;
}

@mixin input-hover() {
    outline-width: 2px;
    outline-color: palette.base-color(8, f);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    background: palette.base-color(a, f, 3);
    background-color: palette.base-color(a, f, 3);
}

@mixin input-focus() {
    outline-width: 2px;
    outline-color: palette.base-color(8, f);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.04);
    background: transparent;
    background-color: transparent;
}

@mixin textarea-neutral() {
    min-height: 6.75rem;
    padding-top: 0.5rem;
    resize: vertical;
}

@mixin content-container {
    box-sizing: border-box;
    min-height: 100vh;
    margin: auto;
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100vw;
        top: 0;
        bottom: 0;
        right: -100vw;
        left: -100vw;
        margin: auto;
    }
}

@mixin sub-content-container {
    $shadowcolor: #200a04;
    position: relative;
    overflow: hidden;
    background: radial-gradient(circle at 60% 100%, #303331 0%, #1a1010 100%);
    border-radius: 12px;
    box-shadow: inset -1px -1px -0px #422;

    &::before,
    &::after {
        content: '';
        position: absolute;
        opacity: 0.7;
    }

    &::before {
        height: 3rem;
        width: 100%;
        left: 0;
        top: 100%;
        transform: rotate(-2deg);
        transform-origin: bottom right;
        box-shadow: 0 -2rem 20px $shadowcolor;
    }

    &::after {
        height: 100%;
        width: 3rem;
        top: 0;
        left: 100%;
        transform: rotate(6deg);
        transform-origin: bottom right;
        box-shadow: -2rem 0 20px $shadowcolor;
    }
}

// form style
@mixin form-neutral() {
}

@mixin form-item-spacing() {
    margin-bottom: 1.5rem;
}
